@import "./colors.scss";

.commit {
  border-bottom: solid 2px $black;

  &:last-child {
    border: none;
  }

  margin: 10px 0;
  padding: 10px;

  display: flex;
  flex-direction: row;

  &__name-and-date {
    flex: none;
    margin-right: 20px;

    & > p {
      margin: 0;
    }
  }

  &__message {
    flex: auto;

    & > p {
      margin: 0;
    }
  }
}
